.modal__page {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100vw;
    height: 100vh;
}

.modal__container {
    height: 100%;
    display: flex;
    align-items: center;
}

.modal-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 899;

    &.editProfile {
        height: 70vh;
    }
}

.overlay {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    cursor: pointer;

    &.white {
        background-color: rgba(255,255,255,0.5);
    }
}

.modal {
    background-color: #fff;
    width: 320px;
    border-radius: 16px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 20px;
    z-index: 999;
    position: relative;

    &.border {
        border: 1px solid $twitter-background;
    }

    & > div {
        margin-bottom: 10px;
        font-size: 15px;
        width: 100%;

        & > h2 {
            font-weight: 700;
            text-align: center;
        }

        &:last-of-type {
            display: flex;
            justify-content: center;
        }

        & > p {
            margin-top: 8px;
        } 
            
    }

    & p {
        font-size: 15px;
        color: $gray;
        text-align: center;
        line-height: 20px;
    } 
}

.comment-modal {
    background-color: #fff;
    // max-width: 80vw;
    // min-width: 600px;
    width: 600px;
    max-height: 90vh;
    overflow: hidden;
    border-radius: 16px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 90px 20px 0;
    z-index: 999;
    position: relative;
    box-sizing: border-box;

    &.shareModal {
        width: auto;
    }

    & > div {
        margin-bottom: 10px;
        font-size: 15px;
        width: 100%;

        & > h2 {
            font-weight: 700;
            text-align: center;
        }

        &:last-of-type {
            display: flex;
            justify-content: center;
        }

        & > p {
            margin-top: 8px;
        } 
            
    }
}

.big-modal {
    background-color: #fff;
    max-width: 600px;
    min-width: 600px;
    max-height: 90vh;
    min-height: 400px;
    height: 650px;
    overflow: hidden;
    border-radius: 16px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 0;
    z-index: 999;
    transition: all $speed cubic-bezier(0.770, 0.000, 0.175, 1.000);

    & > div {
        margin-bottom: 10px;
        font-size: 15px;
        width: 100%;

        & > h2 {
            font-weight: 700;
            text-align: center;
        }

        &:last-of-type {
            display: flex;
            justify-content: center;
        }

        & > p {
            margin-top: 8px;
        } 
            
    }
}

.auth-modal {
    background-color: #fff;
    max-width: 600px;
    min-width: 600px;
    overflow: hidden;
    border-radius: 16px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 20px 20px 0;
    z-index: 999;
    position: relative;
}

.page-modal {
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: auto;
    z-index: 999;
}

.user-modal {
    background-color: #fff;
    max-width: 80vw;
    min-width: 600px;
    max-height: 90vh;
    overflow: hidden;
    border-radius: 16px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    z-index: 999;

    & > div {
        font-size: 15px;
        width: 100%;

        & > h2 {
            font-weight: 700;
            text-align: center;
        }

        & > p {
            margin-top: 8px;
        } 
            
    }
}

.modal__twitterIcon {
    color: $twitter-color;
    font-size: 40px !important;
    margin-bottom: 16px;
}

.modal__inputs {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    text-align: left; 
    align-items: start;
    box-sizing: border-box;

    & p {
        font-size: 14px;
        font-weight: 500;
    }

    & > input {
        width: 93%;
    }

    & > textarea {
        width: 100%;
        font-size: 20px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    }

    & > div {
        width: 100%;
        
        & > input {
            width: 93%;
        }
    }
}

.modal__search {
    border-bottom: 1px solid $twitter-background;
    display: flex;
    align-items: center;
    margin-top: 5px;

    & .MuiSvgIcon-root {
        width: 1.5rem;
        height: 1.5rem;
        color: $twitter-color;
        margin-right: 3px;
    }

    & > textarea, input {
        width: 100%;
        font-size: 20px;
        border: none;
        margin: 0;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;

        &:focus{
            outline: none;
        }
    }
}

.profile-modal__avatar {
   flex-grow: 1;
   padding-top: 64px;
   display: flex;
   justify-content: center;
   position: relative;
   overflow: hidden;

    & .MuiAvatar-root {
        width: 160px !important;
        height: 160px !important;
        border: 1px solid $twitter-background;
        cursor: pointer;
    }
}

.profile__avatar__overlay {
    position: absolute;
    z-index: 100;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background: rgba(22, 22, 22, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;

    & .MuiSvgIcon-root {
        color: rgba(255, 255, 255, 0.75) !important;
        width: 28px !important;
        height: 28px !important;
    }

    &:hover {
        background: rgba(22, 22, 22, 0.4);
        cursor: pointer;
    }
}


.profile-modal__footer {
    width: 100%;
}

.guest__action {
    padding-top: 53px;
    padding-bottom: 53px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;

    & .MuiSvgIcon-root {
        color: $twitter-color !important;
        width: 60px !important;
        height: 60px !important;
    }

    &.like-action {
        & .MuiSvgIcon-root {
            color: $heart !important;
        }
    }
}