.notification {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid $twitter-background;
    transition: background-color $speed;

    &:hover {
        background-color: #f5f8fa; //#ebf1ff
        cursor: pointer;
    }

    &.active {
        background-color: lighten(#ebf1ff, 2);

        &:hover {
            background-color: lighten(#ebf1ff, 1);
        }
    }
}

.notification__body {
    flex: 1;
    padding: 10px 10px 0 10px;

    & > img {
        border-radius: 20px;
    }
}

.notification__header .MuiAvatar-root {
    width: 35px !important;
    height: 35px !important;
}

.notification__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.notification__headerDescription {
    margin-top: 12px;
    margin-bottom: 10px;
    font-size: 15px;
    color: rgb(83, 100, 113);
}

.notification__headerText {
    display: flex;
    margin-top: 10px;
}

.notification__headerText > p {
    font-size: 14px;
    margin-right: 3px;
    margin-left: 3px;
    font-weight: 500;
    margin-top: 1px;
}

.notification__headerText > h3 {
    font-size: 15px;
}

.notification__badge {
    font-size: 14px !important;
    color: rgb(83, 100, 113);

    &.active {
        color: $twitter-color;
    }
}

.notification__headerSpecial {
    font-weight: 600;
    font-size: 12px;
    color: gray;
}

.notification__icon {
    padding: 20px 5px 20px 20px;
    color: $twitter-color;

    & > .MuiSvgIcon-root {
        width: 1.3em !important;
        height: 1.3em !important;
    }

    &.like {
        & > .MuiSvgIcon-root {
            color: $heart;
        }
    }

    &.mail {
        & > .MuiSvgIcon-root {
            color: $purple;
        }
    }
}

.notification__special {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 12px;
    color: $gray;
}